
<html>

<head>
    <meta charset="utf-8">
    <title>Card Shop Database</title>
</head>

<body>
    <h1>Card Shop Database</h1>
    <p><a href="/cardgames">Cardgames</a></p>
    <p><a href="/genres">Genres</a></p>
    <p><a href="/Invoices">Invoices</a></p>
    <p><a href="/InvoiceLines">Invoice Lines</a></p>
    <p><a href="/developers">Developers</a></p>
    <p><a href="/customers">Customers</a></p>
    <p><a href="/cardgames_genres">Card Games by Genre</a></p>
    


</body>

</html>
